.contact-text{
    color: #234C6A
}

.contact-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }

.contact-social-icons {
    position: relative !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 70px !important;
    height: 70px !important;
    font-size: 2em !important;
    background: #0046FF !important;
    color: #E3E3E3 !important;
    border-radius: 50% !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    z-index: 1;
  }
  
  .contact-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0033CC;
    transition: 0.3s;
    transform: scale(0.9);
    z-index: -1;
  }

  .contact-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0046FF;
  }
  
  .contact-social-icons:hover {
    color: #E3E3E3 !important;
    box-shadow: 0 0 7px #0046FF;
    background: #0033CC !important;
    transform: translateY(-3px);
  }

  .contact-social-icons svg {
    display: block;
    z-index: 1;
  }

  .contact-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-color {
    color: #E3E3E3 !important;
  } 